@font-face {
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/quicksand/v21/6xKtdSZaM9iE8KbpRA_hK1QNYuDyPw.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }

@font-face {
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/quicksand/v21/6xKtdSZaM9iE8KbpRA_hK1QNYuDyPw.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }

@font-face {
    font-family: 'East Sea Dokdo';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/eastseadokdo/v8/xfuo0Wn2V2_KanASqXSZp22m05_fGa3YSgUhV-xEVV9n5iCK0m3bo9p1YrzN.0.woff2) format('woff2');
    unicode-range: U+f9ca-fa0b, U+ff03-ff05, U+ff07, U+ff0a-ff0b, U+ff0d-ff19, U+ff1b, U+ff1d, U+ff20-ff5b, U+ff5d, U+ffe0-ffe3, U+ffe5-ffe6;
  }

html {
    font-family: 'Quicksand', sans-serif;
  }

body {
      margin: 0;
  }

header h1 {
    font-family: 'East Sea Dokdo', cursive;
    font-size: 100px;
    color: #2B2623;
    opacity: 1 !important;
    text-align: center;
    padding: 40px 40px;
    z-index: 1;
  }

.banner {
    background-image: url("../pattern.webp");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    margin-bottom: 60px;
    z-index: 2;
  }

.banner {
    background-color: blanchedalmond;
    opacity: 0.75;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    margin-bottom: 60px;
    z-index: 3;
  }

.brushes h2, .frames h2, .paint h2 {
    background-size: 100% 4em;
    padding: 10px 40px;
    font-size: 1.5rem;
  }
.brushes h2 {
    background-color: #EB7492;
  }
.frames h2 {
    background-color: #EBE47F;
}
.paint h2 {
    background-color: #6CCAEB;
}

figure {
    width: 300px;
    height: 350px;
    margin-left: 60px;
    margin-top: 40px;
    margin-right: 40px;
}
img {
    min-width: 200px;
    display: flex;
    justify-items: center;
}
figcaption {
    text-align: center;
    line-height: 1em;
    padding: 0;
}

#inlineflex {
    display: inline-flex;
}

#inlineflex p {
    align-self: center;
}

#prices {
    font-size: 1.2em;
    font-weight: 700;
    color:olive;
}

.contact {
    text-align: center;
    padding-top: 60px;
    padding-bottom: 60px;
    font-size: 1.4em;
}

#smallinfo {
    font-style: italic;
    color: gray;
    font-size: 0.8em;
}

footer {
    background-image: url("../pattern.webp");
    background-size: cover;
    text-align: right;
    padding: 60px 60px;
    font-weight: 700;
}

.contact a {
    transition: color 750ms;
    transition-delay: 0s;
}
a:hover {
    color: mediumturquoise;
}

@media screen and (max-width: 600px) 
and (min-width: 370px) {
    .banner h1 {
        font-size: 32px;
    }

    figure {
        width: 200px;
    }

    #inlineflex {
        display: block;
    }
    div p {
        padding-left: 30px;
    }
}